---
// Достаем префикс из конфига автоматически
const base = import.meta.env.BASE_URL;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href=`${base}/favicon.svg` />
        <link rel="icon" href=`${base}/favicon.ico` />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro 404 page</title>
    </head>
    <body>
        <h1>Let's try again!</h1>
        <a href={`${base}/`}>Главная</a>
        <a href={`${base}/about`}>О проекте</a>
    </body>
</html>
